!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Thy Dungeonman
    %meta{:name => "author", :content => "Mattt Thompson"}
    %meta{:name => "description", :content => "A telephony port of the classic Videlectrix game, using the Tropo API."}
    %link{:rel => "license", :href => "http://www.opensource.org/licenses/mit-license", :title => "MIT License"}
    %link{:rel => "alternate", :href => "https://github.com/mattt/Thy-Dungeonman/tarball/master", :type => "application/tgz", :title => "Source Tarball"}
    %link{:rel => "stylesheet", :href => "/css/screen.css", :type => 'text/css', :media => "screen", :charset => "utf-8"}

  %body
    %a{:href => "http://github.com/mattt/Thy-Dungeonman/"}
      %img{:style => "position: absolute; top: 0; right: 0; border: 0;", :src => "http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png", :alt => "Fork me on GitHub"}
    .container
      %header
        
      #content
        